# Desafio
> Quais modelos de bibleta de produtos vendidos?

In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('datasets\TABELA_VENDAS.csv')

In [41]:
modelos_vendidos_cor_vermelha = df[(df['Cor'] == 'Vermelho') & (df['Categoria'] == 'Bicicletas')][["Modelo", "Cor"]].drop_duplicates()

modelos_vendidos_cor_vermelha

      Modelo       Cor
1   Road-150  Vermelho
8   Road-650  Vermelho
46  Road-250  Vermelho

In [17]:
total_vermelhos = df[df['Cor'] == 'Vermelho']['Pedidos Qtd'].sum()

print(f'Total de bicicletas vermelhas vendidas: {total_vermelhos}')

Total de bicicletas vermelhas vendidas: 1484